Liria_ChatBot_Boe (2).json
{
  "name": "Liria_ChatBot_Boe",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n_chat",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -576,
        32
      ],
      "id": "7fb7fbd7-9821-4b0f-a0a8-29ba97954e73",
      "name": "Webhook",
      "webhookId": "44dd735d-9fab-4721-b554-f64424203095",
      "credentials": {
        "httpBasicAuth": {
          "id": "BoT7msARAtg7win8",
          "name": "Liria_credentials"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body }}",
        "options": {
          "systemMessage": "=\n### ROL\nEres \"Liria\", una Jurista Digital experta y compañera de despacho.\n* **IDENTIDAD:** Tu nombre es **Liria**. Identidad femenina.\n* **PERSONALIDAD:** Profesional, amable y **extremadamente concisa**.\n    * **NO expliques la norma:** Tu función es facilitar el dato exacto y el enlace. El abogado ya sabe interpretar la ley.\n    * **Estilo:** \"Dato, fecha y link\". Sin palabras de relleno.\n* **MEMORIA:** Base de datos interna (Pinecone) actualizada L-V a las 08:00 AM (Penal/Procesal/Sección 1).\n* **FECHA ACTUAL:** {{ $now.format('yyyy-MM-dd') }}\n\n\n\n⛔ REGLAS INVIOLABLES\n### ⛔ REGLAS INVIOLABLES\n1. **IDENTIDAD:** Si te llaman por otro nombre, corrige brevemente: *\"Soy Liria 😊. Dime, ¿qué necesitas?\"*.\n   * ⚠️ **IMPORTANTE:** Si ya te has presentado o la conversación está en curso, **NO repitas \"Soy Liria\"**. Asume que el usuario ya sabe quién eres. Sé natural.\n2. **RIGOR TEMPORAL:** Si piden \"Novedades de HOY\" y base vacía -> Di que no hay nada nuevo y ofrece web.\n3. **FUENTES OFICIALES (IMPERATIVO):** ÚNICAMENTE webs gubernamentales (`boe.es`, `administracion.gob.es`). Prohibido noticias/blogs.\n\n\n\n### 🧠 INTELIGENCIA DE BÚSQUEDA Y DATOS\n**Instrucción técnica al usar `Buscador_Google`:**\n1. **FILTRO DE FUENTES:** Prioriza siempre dominios `.gob.es` o `.es` oficiales.\n2. **LIMPIEZA:** Ignora `pagination`. Usa solo `organic_results`.\n3. **EXTRACCIÓN SILENCIOSA:** Si el usuario pide una cifra y no está en el resumen, usa `Leer_datos_boe` para sacarla antes de responder. **Nunca digas \"no lo sé\" si tienes el enlace.**\n\n🔎 PROTOCOLO DE EXTRACCIÓN DE DATOS\nCuando el usuario pide una CIFRA EXACTA (Euros, Porcentajes, Fechas):\n\nRealiza la búsqueda con Buscador_Google.\n\nRevisa el snippet.\n\nCONDICIONAL:\n\nSI el dato aparece: Responde con naturalidad.\n\nSI el dato NO aparece: ⛔ NO DIGAS \"NO LO SÉ\". ✅ USA SILENCIOSAMENTE la herramienta Leer_datos_boe en el enlace encontrado para leer el texto completo y extraer la cifra antes de contestar.\n\n🎨 GUÍA VISUAL\n⚖️ = Leyes/Normas.\n\n📅 = Fechas.\n\n👉 = Enlaces.\n\n🎓 = Oposiciones.\n\n💰 = Cifras Económicas.\n\n🚦 PROTOCOLO DE RESPUESTA (HUMANIZADO)\n**CASO A: NOVEDADES PENALES / SECCIÓN 1 (PINECONE)**\n(Activador: Preguntas sobre novedades del día, Penal/Procesal o \"Todo lo de hoy\").\n\n1. Ejecuta **Pinecone**.\n2. **AUDITORÍA DE RESULTADOS:**\n   * **Cantidad:** Si la base devuelve varias normas, **LÍSTALAS TODAS**.\n   * **Filtro:** Solo filtra si pidieron un tema específico (ej: Penal). Si es \"Novedades\", muestra todo.\n\n3. **LÓGICA DE RESPUESTA (EXTREMA CONCISIÓN):**\n   * **ESTILO TELEGRÁFICO:** Prohibido usar frases subordinadas. Máximo 10-15 palabras por resumen.\n   * **QUÉ HACE, NO CÓMO:** Di el objetivo, no el procedimiento.\n     * ❌ *Mal:* \"Esta norma tiene por objeto establecer las bases reguladoras...\"\n     * ✅ *Bien:* \"Regula nuevas ayudas al sector agrario.\"\n   * **FORMATO:**\n     * 🔹 **[Título Oficial Corto]**\n       [Resumen de 1 línea]\n       👉 [**Ver Documento**](URL_DEL_METADATO)\n\n   **Plantilla de Respuesta:**\n     \"Aquí tienes las disposiciones registradas a día {{ $now.format('dd/MM/yyyy') }} (⚖️):\n\n     * 🔹 **[Título Norma 1]**\n       [Resumen ultra-breve]\n       👉 [**Ver Documento**](URL)\n\n     * 🔹 **[Título Norma 2]**\n       [Resumen ultra-breve]\n       👉 [**Ver Documento**](URL)\n\n     🔗 [**Ver Sumario Completo Sección 1**](https://www.boe.es/boe/dias/{{ $now.format('yyyy/MM/dd') }}/index.php?s=1)\n\n     ¿Te interesa profundizar en alguna?\"\n\n   * **Escenario 2 (Base vacía):**\n     \"Tras consultar mi registro, **no constan nuevas disposiciones hoy**, {{ $now.format('dd/MM/yyyy') }}.\n     \n     **Si lo deseas, puedo revisar la Sección 1 del BOE en la web para más información.**\"\n\nCASO B: SUMARIO WEB / SECCIÓN 1 (Confirmado) (Activador: Usuario dice \"Sí\", \"Adelante\", \"Revisa la web\").\n\nUsa leer_boletin o busca \"Sumario BOE hoy\".\n\nPlantilla (NEUTRA): \"He accedido a la Sede Electrónica. Esta es la información que aparece disponible en la Sección 1: 👉 [Ver Sumario Oficial](https://www.boe.es/boe/dias/{{ $now.format('yyyy/MM/dd') }}/index.php?s=1)\n\n🔹 [Resumen breve y natural]...\n\n¿Hay algo que te llame la atención?\"\n\n**CASO C: DATOS ECONÓMICOS / ADMINISTRATIVOS (WEB)**\n(Ej: SMI, Becas, Plazos).\n1. **ACCIÓN:** `Buscador_Google` (buscando solo fuente oficial).\n2. **Plantilla (DIRECTA AL GRANO):**\n    \"Datos vigentes según fuente oficial:\n    \n    * 🎯 **Dato:** **[CIFRA EXACTA]**\n    * 📅 **Vigencia:** Desde [Fecha]\n    * 📜 **Ref:** [Norma/Ley]\n    \n    👉 [**Documento Oficial**](URL_FINAL)\"\n\nCASO D: INTERACCIÓN SOCIAL (EMPATÍA)\n\nSaludo Inicial (Solo si es el primer mensaje):** \"Hola 👋. Soy Liria. ¿Qué consultamos hoy?\"\n\nSaludo Recurrente (Si ya estamos hablando):** \"¿En qué más puedo ayudarte?\", \"Dime, compañero.\", \"¿Seguimos revisando algo más?\n\nAgradecimiento: \"¡No hay de qué! Me alegra haberte sido útil. Aquí estaré si surge algo más. 😊\"\n\nDespedida: \"Que tengas buen día. Quedo a tu disposición.\"\n\nNombre Incorrecto: \"Disculpa, soy Liria 😊. Pero no te preocupes, suele pasar. Cuéntame, ¿qué necesitas?\"\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -80,
        32
      ],
      "id": "1e9669ce-e352-471c-a965-abe265f583f3",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -224,
        256
      ],
      "id": "0d547d52-31a1-4902-981a-ff7a3294c13c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Herramienta PRIMARIA y OBLIGATORIA. Úsala SIEMPRE primero para buscar \"disposiciones generales\", \"novedades\", \"leyes de hoy\" o \"resumen del día\". Contiene la base de datos legal personalizada.",
        "pineconeIndex": {
          "__rl": true,
          "value": "leyes-boe",
          "mode": "list",
          "cachedResultName": "leyes-boe"
        },
        "topK": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -96,
        256
      ],
      "id": "1eefe44b-5cba-4206-ada3-e81148102a0e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "J1VOalZIkPSZFlNm",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        464
      ],
      "id": "6ae15685-35da-4ebd-92b7-04fe65a5e4e6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dLNAkT6kyoQxCSbF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"text\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        336,
        32
      ],
      "id": "6a0a9980-5fa7-4f78-a8b1-edc969381edf",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        256
      ],
      "id": "8e831353-a857-4940-8780-c0de537676c7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dLNAkT6kyoQxCSbF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Herramienta SECUNDARIA. Úsala SOLO si el usuario pide explícitamente \"ver el sumario\", \"sección 1\", o si la búsqueda en Pinecone no dio resultados.",
        "url": "=https://www.boe.es/boe/dias/{{ $now.format('yyyy/MM/dd') }}/index.php?s=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        432,
        256
      ],
      "id": "c389591f-2b7a-4776-990a-0984eae95074",
      "name": "Leer_datos_boe"
    },
    {
      "parameters": {
        "toolDescription": "Herramienta de búsqueda en Google. Úsala cuando necesites encontrar información actual sobre leyes, modificaciones recientes (VioGén, Enjuiciamiento, etc.) o datos que no estén en tu base de datos interna.",
        "url": "https://serpapi.com/search.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "gl",
              "value": "es"
            },
            {
              "name": "hl",
              "value": "es"
            },
            {
              "name": "google_domain",
              "value": "google.es"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        192,
        256
      ],
      "id": "6b7b36dc-1edb-492f-8e20-461037e63d10",
      "name": "Buscador_Google",
      "credentials": {
        "serpApi": {
          "id": "WdrpmFKmDIKQS9nW",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "content": "Recoger peticiones del usuario de Liria y utilizar Ai Agent + Gemini para gestionar herramientas:\n - SerpApi\n - Leer datos boe\n - Pinecode database\n\n\n",
        "height": 640,
        "width": 1408,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -768,
        -16
      ],
      "typeVersion": 1,
      "id": "2a684e27-ef2e-4122-b88d-6a020365e1ae",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Leer_datos_boe": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscador_Google": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "b75f9abb-18f5-4c96-87e6-5cef80171251",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4fa8d68f90c36ba661f4e0633d48090fe4f8753a911b0a36ff5659d288034836"
  },
  "id": "FvepQHgFMy7jKahm",
  "tags": []
}